:root{
    --main-font-family: "Karla", "Arial", sans-serif; 
    --main-titles-font-family: "DM Serif Display", "Times New Roman", serif; 
    --main-font-weight: 400; 
    --main-bold-font-weight: 700;
    --main-body-bg-color: #fff; 
    --main-text-color: #2c2830;
    --main-desc-color: #837d88;
    --main-hero-bg-color: #2d2641;
}